<div class="container mt-3" >
    <h1 class="text-center">Products Available</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Specification</th>
            <th scope="col">Category</th>
            <th scope="col">Add</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of product">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.cat}}</td>
            <td><button (click)="addProduct()"   class="btn btn-success">ADD</button></td>
        <td><button (click)="deleteProduct(item.id)"   class="btn btn-danger">Delete</button></td>
          </tr>
          
        </tbody>
      </table>


</div>